[submodule "test/65x02"]
	path = test/65x02
	url = git@github.com:SingleStepTests/65x02.git
[submodule "test/perfect6502"]
	path = test/perfect6502
	url = git@github.com:jpdoane/perfect6502.git
	branch = develop
