[submodule "test/unittests/65x02"]
	path = test/unittests/65x02
	url = https://github.com/SingleStepTests/65x02.git
[submodule "test/unittests/json"]
	path = test/unittests/json
	url = https://github.com/nlohmann/json.git
[submodule "test/perfect6502"]
	path = test/perfect6502
	url = git@github.com:jpdoane/perfect6502.git
	branch = develop
